{
  "exec-opts": [
    "native.cgroupdriver=systemd"
  ],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m",
    "max-file": "5"
  },
{% if docker_mirror is defined and docker_mirror != None %}
  "registry-mirrors": [{% for registry in docker_mirror %}"{{ registry }}"{% if not loop.last %},{% endif %}{% endfor %}],
{% endif %}
{% if docker_insecure_registries is defined and docker_insecure_registries != None %}
  "insecure-registries": [{% for registry in docker_insecure_registries %}"{{ registry }}"{% if not loop.last %},{% endif %}{% endfor %}],
{% endif %}
  "storage-driver": "overlay2"
}
