{
  "exec-opts": [
    "native.cgroupdriver=systemd"
  ],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m",
    "max-file": "5"
  },
{% if enable_insecure_registry %}
  "insecure-registries": [
      "{{ insecure_registry }}"
  ],
{% endif %}
  "storage-driver": "overlay2"
}
